<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key=".NET Core nightly builds" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="ASP.NET Core nightly builds" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="nhibernate" value="https://ci.appveyor.com/nuget/nhibernate-core-6cm11v2xdhud" />
  </packageSources>
</configuration>
